@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html {
    height: 100%;
  }

  

body{
    font-family: 'Raleway', sans-serif;
    
    background-image: url("img/amirali-mirhashemian-ZSukCSw5VV4-unsplash.jpg");
    background-color: #cccccc;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /* -webkit-filter: blur(5px); 
    filter: blur(5px); */
}

.background {
    margin: 5vw;
    background-color: black;
    border: 1px solid black;
    opacity: 0.6;
    color: #ffffff;
  }
  
  div.transbox p {
 
  }


